<div class='main-container' *ngIf='movie!==null && movie!==undefined'>

<div class='img'>
<img [src]="movie.backdropUrl" alt="Movie Poster">
</div>

<div class='title'> 
    <span style="margin-right: 20px;">{{movie.title}}
        <bar-rating [rate]="movie.RateOfFive" [max]="5" [theme]="'default'" [showText]="false"
        [titles]="['Bad', 'Mediocre' , 'Good', 'Awesome']" style="display: inline-block;">
        </bar-rating>
</span> 
</div>
<p class='info'><span> {{movie.date}} </span> |  <span>{{movie.length}}</span> | <span>{{movie.director}}</span></p>
<p class='cast'><span> Cast: {{movie.castActors}} </span> </p>
<p class='overview'>
    {{movie.overview}}
</p>
</div>