



  <mat-grid-list cols="4"  gutterSize="5px"  *ngIf="movies!==null && movies.length!==0">
    
      <mat-grid-tile *ngFor="let movie of movies">
        <app-movie-card [movie]=movie ></app-movie-card>
      </mat-grid-tile>
      
    
  </mat-grid-list>


  

  <!--
<div *ngIf="dataLoaded" class='container'>
    <ng-container *ngFor="let movie of movies">
      <app-movie-card [movie]=movie ></app-movie-card>
    </ng-container>
    
</div>




<app-movie-detail [movie]=movies[4] *ngIf="dataLoaded"></app-movie-detail>
-->



