.container{
    display: flex;
    flex-direction: row;
    width : 1800px;
    flex-wrap: wrap;
}

.card-contaier{
    display: inline-block;
}
app-movie-card{
    width: 350px;
    height: 350px;
    margin-top: 40px;
}

