


<ng-container *ngFor="let category of categories|keyvalue">
  <ng-container >
    <div class="category"><p>{{category.key}}</p></div>
    <mat-grid-list cols="4"  gutterSize="5px"  rowHeight="600">
          <!--mat-grid-tile-header > 
        </mat-grid-tile-header-->
      <mat-grid-tile *ngFor="let movie of category.value" >
        <app-movie-card [movie]=movie ></app-movie-card>
      </mat-grid-tile>
    </mat-grid-list>

  </ng-container>

</ng-container>



<!--

<mat-grid-list cols="4"  gutterSize="5px"  *ngIf="movies!==null && movies.length!==0">
    
      <mat-grid-tile *ngFor="let movie of movies">
        <app-movie-card [movie]=movie ></app-movie-card>
      </mat-grid-tile>
      
    
  </mat-grid-list>

-->
  

